<form action="/save" method="post">
    <h2>Cadastro de usuarios</h2>

    <label for="email">Email: </label>
    <input type="email" name="email" id="email">
    <br>
    <br>
    <label for="senha">Senha: </label>
    <input type="password" name="senha" id="senha">
    <br>
    <br>
    <button>Cadastrar Usuario</button>
    <br>
    <a href="/">Voltar...</a>
</form>