<form action="/verifica" method="post">
    <h2>Login</h2>

    <label for="email">Email: </label>
    <input type="email" name="email" id="email">
    <br>
    <br>
    <label for="senha">Senha: </label>
    <input type="password" name="senha" id="senha">
    <br>
    <br>
    <button>Login</button>
    <a href="/cadastro">Não tem conta?</a>
</form>